@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
  --Inter: 'Inter', sans-serif;
  --Deca: 'Lexend Deca', sans-serif;
  --light-violet-transparent: hsla(277, 64%, 61%, 0.705);
  --light-violet: hsl(277, 64%, 61%);
  --white: hsl(0, 0%, 100%);
  --body-white: hsla(0, 0%, 100%, 0.75);
  --stats-heading-white: hsla(0, 0%, 100%, 0.6);
  --background-color: hsl(233, 47%, 7%);
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  height: 100%;
  font-size: 62.5%;
}
body {
  min-height: 100%;
  box-sizing: border-box;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  font-family: var(--Inter);
  font-weight: 400;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}

.main-section {
  max-width: 37.5rem;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}
.header {
  height: 18rem;
  border-radius: 1rem 1rem 0 0;
  background-image: linear-gradient(var(--light-violet-transparent),var(--light-violet-transparent)),url(images/image-header-mobile.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.body {
  padding: 1rem;
  background-color: hsl(244, 38%, 16%);
  border-radius: 0 0 1rem 1rem;
  padding-bottom: 0;
}
.body-title {
  font-family: var(--Deca);
  color: var(--white);
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 0.8rem;
}
.body-title span {
  color: var(--light-violet);
}
.body-content {
  color: var(--body-white);
  text-align: center;
  margin-bottom: 2.5rem;
}
.body-list {
  list-style-type: none;
  text-align: center;
}
.body-list-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.body-list-item .number {
  font-family: var(--Deca);
  color: var(--white);
  font-size: 2rem;
}
.body-list-item .text {
  color: var(--stats-heading-white);
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.2rem;
}

@media only screen and (min-width: 1440px) {
  .main-section {
    max-width: 100rem;
    flex-direction: row;
  }
  .header {
    height: auto;
    width: 120rem;
    border-radius: 0 1rem 1rem 0;
    background-image: linear-gradient(var(--light-violet-transparent),var(--light-violet-transparent)),url(images/image-header-desktop.jpg);
    background-size: cover;
  }
  .body {
    border-radius: 1rem 0 0 1rem;
    padding: 5rem 8rem;
  }
  .body-title {
    text-align: left;
    font-size: 3rem;
  }
  .body-content {
    text-align: left;
    margin-bottom: 5rem;
    margin-top: 3rem;
  }
  .body-list {
    text-align: left;
    display: flex;
    justify-content: space-between;
  }
}